.btn-square-md {
    position: absolute;
    left: 19px;
    Top: 817px;
    width: 59px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 52px !important;
    text-align: center;
    padding: 0px;
    font-size: 12px;

    opacity: 49%;
}
.Addicon{
    position:absolute;
   left: 23px;
   top: 818px;
   width: 60px;
   height: 60px;
   

}